@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gray-900: 225 13% 12%;
    --gray-700: 226 6% 40%;
    --gray-500: 223 7% 53%;
    --gray-300: 225 17% 82%;
    --gray-100: 230 21% 95%;

    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 68% 61%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  /** Headings **/
  .heading-xl {
    @apply sm:text-[150px]/[200px] md:text-[200px]/[200px] lg:text-[250px]/[200px] tracking-[-5px] font-bold text-gray-100;
  }

  .heading-lg {
    @apply text-[96px]/[80px] tracking-[-2px] font-bold;
  }

  .heading-md {
    @apply text-[48px]/[52px] xs:text-[72px]/[64px] tracking-[-2px] font-bold;
  }

  .heading-sm {
    @apply text-[32px]/[40px] tracking-normal font-bold;
  }

  p {
    @apply text-lg/[24px];
  }

  .link {
    @apply text-gray-500 text-lg/[25px] hover:text-gray-900 active:text-gray-900 transition-colors;
  }

  .link-underline {
    @apply bg-gray-900 w-[24px] h-[1px];
  }
}

@layer components {
  .btn {
    @apply text-white bg-gray-900 hover:bg-gray-700 active:bg-gray-300;
  }
}

@layer utilities {
  .page-gutter-x {
    @apply px-8 sm:px-24 lg:px-[164px];
  }

  .page-gutter-y {
    @apply pb-[200px];
  }

  .page-gutter {
    @apply page-gutter-x page-gutter-y;
  }

  .navBar {
    @apply z-40 sticky -top-7 left-0 h-24 page-gutter-x pt-14 pb-7 mb-7;
  }

  .nav-side {
    @apply w-8 sm:w-24 lg:w-[164px];
  }

  .section {
    @apply py-14;
  }

  .footer {
    @apply page-gutter-x h-[200px] w-full;
  }
}
